@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0px;
  overflow-x: hidden;
}

.blog-title {
  @apply text-6xl text-center
}

.blog-date {
  @apply p-2 border-4 border-slate-400 inline rounded-lg font-semibold
}

.blog-input {
  @apply p-2 border-2 border-slate-400 inline rounded-lg font-semibold
}

.blog-btn {
  @apply text-white border-2 border-slate-500 bg-slate-400 inline rounded-lg font-semibold p-2 ml-1
}

/* swiper */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hover-info:hover > div  {
  opacity: 1;
}